* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 1rem 2rem;
  max-width: 1100px;
  margin: 1rem auto;
  background-color: #3498db;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: #1c1d1d;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.btn-primary {
  color: #f4f4f4;
}

.btn-secondary {
  color: #2980b9;
}

.btn:hover {
  background-color: #353737;
}

.social-list {
  border-radius: 5px;
  padding: 0.4rem;
  margin: 0 0.5rem;
}

.social-list:nth-child(1) {
  background-color: #2980b9;
}

.social-list:nth-child(2) {
  background-color: #8e44ad;
}

.social-list:nth-child(3) {
  background-color: #e74c3c;
}

.social-list:nth-child(4) {
  background-color: #2ecc71;
}

body {
  background-color: #2980b9;
  line-height: 1.5;
  color: #fff;
}

.header-section {
  padding-top: 10%;
}

.header-content {
  text-align: center;
  padding: 1rem;
}

.header-content h2,
.header-content .search-input {
  margin-bottom: 0.75rem;
}

.header-content h2 {
  padding: 1rem;
  font-size: 2.5rem;
}

.header-content .search-input {
  padding: 0.8rem;
  width: 97%;
  color: #1c1d1d;
  font-size: 1.1rem;
}

.section-results .profile-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  border: 1px solid #f4f4f4;
}

.section-results .profile-avatar {
  text-align: center;
  padding: 1rem;
}

.section-results .profile-avatar p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.section-results .profile-avatar .profile-img {
  height: 200px;
  width: 200px;
}

.section-results .profile-list {
  padding: 1rem;
}

.section-results .profile-social, .section-results .profile-info {
  border: 1px solid #f4f4f4;
}

.section-results .profile-social {
  padding: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-results .profile-info {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.section-results .profile-info li {
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #1c1d1d;
}

.section-results .profile-info-title, .section-results .profile-info-desc {
  margin: 0 0.1rem;
}

.section-results .repo-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr;
      grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  border: 1px solid #f4f4f4;
}

.section-results .repo-project-info {
  padding: 1rem;
}

.section-results .repo-project-info .repo-title {
  color: #f4f4f4;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.section-results .repo-project-info .repo-desc {
  font-weight: 100;
  color: #1c1d1d;
}

.section-results .repo-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-results .repo-social li {
  padding: 0.5rem;
}

.section-results .repo .view-project {
  margin: 0 1rem;
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 95%;
  }
  .social-list {
    font-size: 0.8rem;
  }
  .btn-secondary {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .section-results .profile-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .section-results .repo-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .section-results .repo-content .view-project {
    margin: 1rem auto;
  }
  .section-results .repo-content .view-project a {
    padding: 0.5rem 5.5rem;
    margin: 0;
  }
  .section-results .repo-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header-section h2 {
    font-size: 1.6rem;
  }
  .header-section .search-input {
    font-size: 0.72rem;
    width: 100%;
  }
  .section-results .profile-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-results .profile-social li {
    margin-bottom: 0.5rem;
  }
  .section-results .profile-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
/*# sourceMappingURL=style.css.map */