@import 'config';

// General styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 1rem 2rem;
  max-width: $max-width;
  margin: 1rem auto;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: $dark-color;
  transition: background-color 0.2s ease-in;

  &-primary {
    color: $light-color;
  }

  &-secondary {
    color: $primary-color;
  }

  &:hover {
    background-color: lighten($dark-color, 10%);
  }
}

.social-list {
  border-radius: 5px;
  padding: 0.4rem;
  margin: 0 0.5rem;
}

.social-list:nth-child(1) {
  background-color: $primary-color;
}
.social-list:nth-child(2) {
  background-color: $purple-color;
}
.social-list:nth-child(3) {
  background-color: $danger-color;
}
.social-list:nth-child(4) {
  background-color: $success-color;
}

body {
  background-color: $primary-color;
  line-height: 1.5;
  color: #fff;
}

// Header section
.header {
  &-section {
    padding-top: 20%;
  }

  &-content {
    text-align: center;

    padding: 1rem;
    h2,
    .search-input {
      margin-bottom: 0.75rem;
    }

    h2 {
      padding: 1rem;

      font-size: 2.5rem;
    }

    .search-input {
      padding: 0.8rem;
      width: 97%;
      color: $dark-color;
      font-size: 1.1rem;
    }
  }
}

// Results section
.section {
  // profile section
  &-results {
    .profile {
      &-content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 2rem;
        border: 1px solid $light-color;
      }
      &-avatar {
        text-align: center;
        padding: 1rem;

        p {
          font-size: 1.2rem;
          margin: 0.5rem 0;
        }
        .profile-img {
          height: 200px;
          width: 200px;
        }
      }

      &-list {
        padding: 1rem;
      }
      &-social,
      &-info {
        border: 1px solid $light-color;
      }
      &-social {
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &-info {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;

        li {
          //   margin-bottom: 0.5rem;
          padding: 0.5rem;
          font-size: 1.1rem;
          color: $dark-color;
        }
        &-title,
        &-desc {
          margin: 0 0.1rem;
        }
      }
    }

    // Repositories Section
    .repo {
      &-content {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        margin-bottom: 0.5rem;
        border: 1px solid $light-color;
      }

      &-project-info {
        padding: 1rem;

        .repo-title {
          color: $light-color;
          font-size: 1.2rem;
          letter-spacing: 1px;
        }
        .repo-desc {
          font-weight: 100;
          color: $dark-color;
        }
      }

      &-social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li {
          padding: 0.5rem;
        }
      }

      .view-project {
        margin: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 1000px;
  }

  .btn-secondary {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 750px;
  }

  .social-list {
    font-size: 0.6rem;
  }
}
